<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/64716b42bb.js" crossorigin="anonymous"></script>
    <title>Admin Panel- Book List!</title>
  </head>
  
<body>
<div class="container">
<div></div>
    <div th:if="${not #lists.isEmpty(books)}">
        <h2>Books on Sale</h2>
        <table class="table table-bordered">
            <tr>
                <th>Id      </th>
                <th>Name    </th>
                <th>Genre   </th>
                <th>Author  </th>
				<th>Price   </th>
                <th>List</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="book : ${books}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.description}"></td>
				<td th:text="${book.genre}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.price}"></td>
                <td><a class ="btn btn-info" th:href="${'/book/show/' + book.id}">View</a> </td>
                <td><a class ="btn btn-primary" th:href="${'/book/edit/' + book.id}">Edit</a> </td>
                <td><a class ="btn btn-danger fas fa-trash-alt" th:href="${'/book/delete/' + book.id}"></a> </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a class ="btn btn-success"  href="/book/new">New Book</a>
        </div>
    </div>
</div>
</body>
</html>