<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link th:href="@{../../css/show.css}" rel="stylesheet" media="screen"/>
	<script src="https://kit.fontawesome.com/64716b42bb.js" crossorigin="anonymous"></script>
    <title>Bookhub-Book Details</title>
  </head>
<body>
<div class="container-fluid bg3">

<table class="tg">
  <tr>
    <th class="tg-c3ow"><span style="font-weight:bold;color:rgb(239, 239, 239)">Book ID</span></th>
	<td class="th" th:text="${book.id}"></td>
  </tr>
  <tr>
    <th class="tg-c3ow"><span style="font-weight:bold;color:rgb(239, 239, 239)">Preview</span></th>
    <td class="tg-42j8"><img th:src=${book.imageUrl} width="150" height="204"></td>
  </tr>

  <tr>
    <th class="tg-c3ow"><span style="font-weight:bold;color:rgb(239, 239, 239)">Name</span></th>
	<td class="th" th:text="${book.description}"></td> 
  <tr>
    <th class="tg-c3ow"><span style="font-weight:bold;color:rgb(239, 239, 239)">Genre</span></th>
	<td class="th" th:text="${book.genre}"></td>
  </tr>
  <tr>
    <th class="tg-c3ow"><span style="font-weight:bold;color:rgb(239, 239, 239)">Author</span></th>
	<td class="th" th:text="${book.author}"></td>
  </tr>
  <tr>
     <th class="tg-c3ow"><span style="font-weight:bold;color:rgb(239, 239, 239)">Price</span></th>
	<td class="th" th:text="${book.price}"></td>
  </tr>
</table>
<div class="row">
   <div class="col-sm-3">
	<a class ="btn btn-primary" th:href="${'/book/edit/' + book.id}">Edit</a>   
	<a class ="btn btn-danger" th:href="${'/book'}">Back</a>   
</div>


</div>

</body>
</html>