.bg3{
	background: url("login_image.jpg") no-repeat;
	width: 100%;
	height: 100vh;
	background-size: 100%;
	overflow: hidden;
	
}
label.required { color: white; }

legend{color: white}

table, thead, th {
    border:1px solid black;
    margin-left: 43%;
    margin-top: 10%;
}
.th {
  color:white;
  border: 1px solid black;
  margin-left:5%;
  font-size:12pt;
}

.btn-primary{
	margin-left: 210%;
}
.btn-danger{
	margin-left: 210%;
}